body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333;
}

.header {
    background-color: #002f6c;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    margin: 20px;
}

.counter-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #007bff; /* Ganti warna saat hover */
}

.chart-container {
    margin-top: 40px;
}

.counter {
    transition: all 0.5s ease-in-out; /* Animasi saat menghitung */
}
